*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #FFDEAD;
    font-family: sans-serif;
}

.home-section.active,
.project-section :active,
.about-section.active,
.contact-section.active{
    position: relative;
    opacity: 1;
    z-index: 8;
}


.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #FFEBCD;
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color: #F4A460;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover, .link.active a{
    opacity: 1;
}

.home-section{
    width: 100%;
    height: 100vh;
    padding: 0 15px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.hero-heading{
    color: #fff;
    font-size: 85px;
    font-weight: 4;
    text-align: center;
}

.home-img{
    position: relative;
    top: 0;
    left: 200px;
    height: 100vh;
    width: 40%;
    opacity: 1;
}

/* project-section */

.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 250px 100px 150px;
    position: relative;
    top: 0;
    transition: 1s;
    opacity: 1;
}


.project-heading{
    font-size: 100px;
    background: #252525;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #FFE4C4;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}


.project-card{
    height: 400px;
    position: relative;
}

.project-img{
    width: 90%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 50px;
    object-fit: cover;
    transition: .10s;
}


.project-content{
    position: relative;
    padding: 40px;
    color: #fff;
    transition: .8s;
    opacity: 0;
}


.project-title{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
}


.project-info{
    margin: 40px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}



.project-btn-grp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.project-btn{
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.project-card:hover .project-img{
    filter: blur(15px);
}
.project-card:hover .project-content{
    opacity: 1;
}

/* about-section */

.about-section{
    width: 110%;
    min-height: 100vh;
    padding: 100px 100px 0;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.about{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: #fff;
    opacity: 0.6;
    font-size: 25px;
    padding: 30px;
}

.about-img{
    width: 110%;
    height: 110%;
    object-fit: cover;
    border-radius: 20px;
}


/* contact-section */

  .contact-section{
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
    padding: 150px 350px;
    height: 100vh;
    display: grid;
    grid-gap: 20px;
}
.contact-heading{
    font-size: 30px;
    background:rgba(255, 255, 255, 0.2);
    text-transform: capitalize;
    text-align: center;
    color:#000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background:rgba(255, 255, 255, 0.2);
    border: 1px solid #000;
    margin-bottom: 20px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #000;
    padding: 5px 10px;
}

::placeholder{
    color: #000;
}

#msg{
    height: 280px;
    resize: none;
    font-family: sans-serif;
}

.form-submit-btn{
    background: #ff4f4f;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.social-icons {
    display: flex;
    justify-content: center;
  }
   
  .social-icons a {
    margin: 20px 50px;
  }
   
  .social-icons img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
  }
   
  .social-icons a:hover img {
    transform: scale(1.2);
  }